In [2]:
import pandas as pd 
import numpy as np

In [9]:
data=pd.read_csv('titanic_train.csv')

In [6]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [14]:
data.shape

(891, 12)

In [17]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [22]:
data.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,True,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,False,False,False,True,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,True,False
16,False,False,False,False,False,False,False,False,False,False,True,False
17,False,False,False,False,False,True,False,False,False,False,True,False
18,False,False,False,False,False,False,False,False,False,False,True,False
19,False,False,False,False,False,True,False,False,False,False,True,False
20,False,False,False,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,True,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,True,False
25,False,False,False,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,True,False,False,False,False,True,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,True,False,False,False,False,True,False
29,False,False,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
861,False,False,False,False,False,False,False,False,False,False,True,False
862,False,False,False,False,False,False,False,False,False,False,False,False
863,False,False,False,False,False,True,False,False,False,False,True,False
864,False,False,False,False,False,False,False,False,False,False,True,False
865,False,False,False,False,False,False,False,False,False,False,True,False
866,False,False,False,False,False,False,False,False,False,False,True,False
867,False,False,False,False,False,False,False,False,False,False,False,False
868,False,False,False,False,False,True,False,False,False,False,True,False
869,False,False,False,False,False,False,False,False,False,False,True,False
870,False,False,False,False,False,False,False,False,False,False,True,False
871,False,False,False,False,False,False,False,False,False,False,False,False
872,False,False,False,False,False,False,False,False,False,False,False,False
873,False,False,False,False,False,False,False,False,False,False,True,False
874,False,False,False,False,False,False,False,False,False,False,True,False
875,False,False,False,False,False,False,False,False,False,False,True,False
876,False,False,False,False,False,False,False,False,False,False,True,False
877,False,False,False,False,False,False,False,False,False,False,True,False
878,False,False,False,False,False,True,False,False,False,False,True,False
879,False,False,False,False,False,False,False,False,False,False,False,False
880,False,False,False,False,False,False,False,False,False,False,True,False
881,False,False,False,False,False,False,False,False,False,False,True,False
882,False,False,False,False,False,False,False,False,False,False,True,False
883,False,False,False,False,False,False,False,False,False,False,True,False
884,False,False,False,False,False,False,False,False,False,False,True,False
885,False,False,False,False,False,False,False,False,False,False,True,False
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [27]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [34]:
##imputation

from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values='NaN',strategy='mean',axis=0)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [32]:
data[['Age']]=imputer.fit_transform(data[['Age']])

In [33]:
data[['Age']]

           Age
0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
10    4.000000
11   58.000000
12   20.000000
13   39.000000
14   14.000000
15   55.000000
16    2.000000
17   29.699118
18   31.000000
19   29.699118
20   35.000000
21   34.000000
22   15.000000
23   28.000000
24    8.000000
25   38.000000
26   29.699118
27   19.000000
28   29.699118
29   29.699118
..         ...
861  21.000000
862  48.000000
863  29.699118
864  24.000000
865  42.000000
866  27.000000
867  31.000000
868  29.699118
869   4.000000
870  26.000000
871  47.000000
872  33.000000
873  47.000000
874  28.000000
875  15.000000
876  20.000000
877  19.000000
878  29.699118
879  56.000000
880  25.000000
881  33.000000
882  22.000000
883  28.000000
884  25.000000
885  39.000000
886  27.000000
887  19.000000
888  29.699118
889  26.000000
890  32.000000

[891 rows x 1 columns]